################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/AVCs/v16
/.vs
/src/AVCs_5/out
/src/AVCs_5/AVCs_5/SFML-2.5.1